/* Layout */
.container, .navbar {
  max-width: 800px;
  margin: 0 auto;
}

/* Header & Navigation */ 
.logo {
  max-width: 80px;
  margin: 10px 20px 10px 0;
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link {
  padding-top: 15px;
  font-size: 14px;
}

.navbar-collapse {
  text-align: right;
  margin-right: 15px;
}

/* Cards */ 
.card-header {
  font-size: 2em;
}

/* Typography */
h1 {
  margin-bottom: 15px;
}

.capitalize {
  text-transform: capitalize;
}